<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<form method = "post"></form>
<div class = "category">
    <select id="category">
        <option value="">--Please choose an option--</option>
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
    </select>
</div>
<div class = "title">
    <input id ="title" type="text" placeholder="제목을 입력하세요.">
</div>
<div class = "detail">
    <input id="detail" type="text" placeholder="내용을 입력하세요.">
</div>
<div class ="submitbtn">
    <button type="submit">저장하기</button>
</div>
</body>
</html>